<primeflix-header></primeflix-header>
<div class="background">
  <div class="container">
    <div class="screen">
      <div class="screen-header">
        <div class="screen-header-left">
          <div class="screen-header-button close"></div>
          <div class="screen-header-button maximize"></div>
          <div class="screen-header-button minimize"></div>
        </div>
        <div class="screen-header-right">
          <div class="screen-header-ellipsis"></div>
          <div class="screen-header-ellipsis"></div>
          <div class="screen-header-ellipsis"></div>
        </div>
      </div>
      <div class="screen-body">
        <div class="screen-body-item left">
          <div class="app-title">
            <span>Contato</span>
            <span>BR</span>
          </div>
          <div class="app-contact">Info contato: +55 3199641-2934</div>
        </div>
        <div class="screen-body-item">
          <div class="app-form">
            <div class="app-form-group">
              <input class="app-form-control" placeholder="Nome">
            </div>
            <div class="app-form-group">
              <input class="app-form-control" placeholder="Email">
            </div>
            <div class="app-form-group">
              <input class="app-form-control" placeholder="Celular">
            </div>
            <div class="app-form-group message">
              <input class="app-form-control" placeholder="Mensagem">
            </div>
            <div class="app-form-group buttons">
              <button class="app-form-button">Cancelar</button>
              <button class="app-form-button">Enviar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
