<primeflix-header></primeflix-header>
<div class="container">
    <div class="card">
      <h2>Patrick Augusto</h2>
      <div class="title title--epic">@shark</div>
      <div class="desc">Patrick gosta de tubarões!</div>
      <img src="../../assets/img/patrick.png">
        <div class="actions">
        
      </div>
    </div>
    <div class="card">
      <h2>João Vítor</h2>
      <div class="title title--legendary">@soma</div>
      <div class="desc">João gosta de macarrão!</div>
      <img src="../../assets/img/joao.png">
        <div class="actions">
         
      </div>
    </div>
    <div class="card">
      <h2>Gustavo Cunha</h2>
      <div class="title title--common">@GuTwo</div>
      <div class="desc">Gustavo vai te hackear!</div>
      <img src="../../assets/img/gustavo.png">
        <div class="actions">
        
      </div>
    </div>
    </div>
   
