<primeflix-header></primeflix-header>
<div class="container">
    <div class="card" *ngFor='let card of cards'>
        <div class="face face1">
            <div class="content">
                <img [src]="card.img">
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>{{card.descricao}}</p>
                    <a href="#">Saiba mais</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="card" *ngFor="let card of Card">
        <div class="face face1">
            <div class="content">
                <img [src]="card.img">
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>{{card.descricao}}</p>
                <a href="#">Saiba mais</a>
            </div>
        </div>
    </div>
</div>

