<primeflix-header></primeflix-header>
<div class="container">
    <div class="card">
        <div class="face face1">
            <div class="content">
                <img src="../../assets/img/ligadajustica.png">
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p> A liga de heróis que irá salvar o mundo.</p>
                    <a href="#">Saiba mais</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face face1">
            <div class="content">
                <img src="../../assets/img/truquedemestre.png">
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p> Um grupo de ilusionistas encanta o público com suas mágicas e também rouba bancos.</p>
                <a href="#">Saiba mais</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face face1">
            <div class="content">
                <img src="../../assets/img/chaves.png">
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>A vila mais amada do Brasil com os personagens mais amados.</p>
                <a href="#">Saiba mais</a>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="card">
        <div class="face face1">
            <div class="content">
                <img src="../../assets/img/asbranquelas.png">
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Dois irmãos agentes da FBI assumem a identidade de duas patricinhas em uma missão pralá de engraçada</p>
                    <a href="#">Saiba mais</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face face1">
            <div class="content">
                <img src="../../assets/img/king.png">
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Dois clássicos do cinema se encontram em uma luta épica.</p>
                <a href="#">Saiba mais</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face face1">
            <div class="content">
                <img src="../../assets/img/jogodaimitacao.png">
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Um aluno é desafiado a entender códigos nazistas, incluindo o "Enigma", que criptógrafos acreditavam ser inquebrável.</p>
                <a href="#">Saiba mais</a>
            </div>
        </div>
    </div>
</div>

